{% extends "base.html" %}
{% load tags %}

{% block title %} AppDirectory {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/media/css/jquery.jqplot.min.css">
{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript" src="/media/js/fixedddcontent.js"></script>
    
    <script language="javascript" type="text/javascript" src="/media/js/jquery_002.js"></script>
    <script language="javascript" type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/shCore.js"></script>
    <script type="text/javascript" src="/media/js/shBrushJScript.js"></script>
    <script type="text/javascript" src="/media/js/shBrushXml.js"></script>
    <script type="text/javascript" src="/media/js/search.js"></script>
    <script type="text/javascript" src="/media/js/fontsize.js"></script>
    <script type="text/javascript" src="/media/js/jquery.jtruncate.pack.js"></script>
    <script class="include" language="javascript" type="text/javascript" src="/media/js/jqplot_002.js"></script>
    <script class="include" language="javascript" type="text/javascript" src="/media/js/jqplot_003.js"></script>
    
    
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">
	        stLight.options({
	                publisher:'74c16fbd-ba8c-445c-ad46-65b01dad509f',
	        });
	</script>
    
    <script type="text/javascript">
    
    
    function set_fontsize(size) {
    	
    	$('#detail-info p').css('font-size', size);
    	$('#description-table').css('font-size', size);
    	
    }
    
    $(document).ready(function(){
    	
    	
              var line1=[['23-May-08', 578.55], ['20-Jun-08', 566.5], ['25-Jul-08', 480.88], ['22-Aug-08', 509.84],
                  ['26-Sep-08', 454.13], ['24-Oct-08', 379.75], ['21-Nov-08', 303], ['26-Dec-08', 308.56],
                  ['23-Jan-09', 299.14], ['20-Feb-09', 346.51], ['20-Mar-09', 325.99], ['24-Apr-09', 386.15]];
              var plot1 = $.jqplot('chart1', [line1], {
                  title:'App price | Version Releases | Top 250',
                  axes:{
                    xaxis:{
                      renderer:$.jqplot.DateAxisRenderer,
                      tickOptions:{
                        formatString:'%b&nbsp;%#d'
                      }
                    },
                    yaxis:{
                      tickOptions:{
                        formatString:'$%.2f'
                        }
                    }
                  },
                  highlighter: {
                    show: true,
                    sizeAdjust: 7.5
                  },
                  cursor: {
                    show: false
                  }
              });
              
             //More link on description
              $().ready(function() {  
	          	$('#description-table').jTruncate({
	          		'moreText' : 'More', 
	          		'lessText' : 'Less',
	          		'length' : 350,
	          	});  
	          });
             
             
          });
    </script>
{% endblock %}

{% block body %}
    <table width="100%" border="0">
        <tbody id="tbody">
            <tr>
                <td>
                    <table class="rounded-corners" id="apptable" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#131d58">
                        <tbody>
                            <tr>
                                
                                <td id="appdefinition" width="105" valign="middle" align="left" nowrap="nowrap">
                                        <span class="platform_link">{{ app.get_devices }}</span>
                                        <span id="separator">|</span>
                                    	<span class="heading_text">{{ app.title }}</span>
                                </td>
                                
                                <td valign="middle" width="50" align="right">
                                    <a id="backlink" class="white_link" href="{% url home %}">Back</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="6"></td>
            </tr>
            
            <tr>
                <td>
                
                <div id="FontMenu" style="position:absolute; visibility: hidden;" class="dropmenudiv" >
					<a href="javascript:void(0)" onclick="set_fontsize('9pt');">Default</a>
					<a href="javascript:void(0)" onclick="set_fontsize('11pt');" style="font-size:14px;">Bigger</a>
					<a href="javascript:void(0)" onclick="set_fontsize('13pt');" style="font-size:16px;">Bigger</a>
					<a href="javascript:void(0)" onclick="set_fontsize('15pt');" style="font-size:18px;">Bigger</a>
				</div>
                
                    <table id="options-table">
                        <tbody>
                            <tr>
                                <td></td>
                                <td id="detail-options" class="font11">
                                        <a href="{% url home %}" class="detail-link">App Home</a> <span class="choice-separator"> | </span>
                                        <a href="{% url artist_applications app.artist_name %}" class="detail-link">More Apps from {{ app.artist_name }} ({{app.get_artist_app_count}})</a> <span class="choice-separator"> | </span>
                                        <a href="" class="detail-link">Email it</a> <span class="choice-separator"> | </span>
                                        <span class="st_sharethis" st_url="http://sharethis.com" st_title="Sharing Rocks!" displayText="ShareThis"></span>
                                        <span class="choice-separator"> | </span>
                                        <a href="" class="detail-link">Alert</a> <span class="choice-separator"> | </span>
                                        <a href="" id="FontLink" class="detail-link" rel="FontMenu">Font size</a> <span class="choice-separator"> | </span>
                                        
                                        <a href="http://www.macdirectory.com/component/option,com_news/task,viewAll/" class="detail-link">News</a> <span class="choice-separator"> | </span>
                                        <a href="http://www.macdirectory.com/component/option,com_reviews1/task,search/review_keyword,app/category,all/only_title,/" class="detail-link">App Reviews</a> <span class="choice-separator"> | </span>
                                        <a href="http://www.macdirectory.com/component/option,com_software_post/task,login/" class="detail-link">Post</a>
                                </td>
                                <td></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody id="tbody">
                            <tr>
                                <td align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr id="detail-content">
                                                                <td class="content1">
                                                                    <table id="detail-content" style="font-size: 20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td id="detail-image">
                                                                                    <a href="#"><img style="border-radius: 10px;" src="{{ app.artwork_url_large }}"></a>
                                                                                </td>
                                                                                
                                                                                <td valign="top" id="detail-info">
                                                                                    <span><p>Category: <a class="from_link" href="{% url category_applications app.get_category %}">{{ app.get_category }}</a></p></span>
                                                                                    <span><p>Compatibility: {{ app.get_devices }}</p></span>
                                                                                    <span><p>Released: {{ app.itunes_release_date }} Version: {{ app.version }}&nbsp;|&nbsp;Size:&nbsp; {{ app.download_size|filesizeformat }}</p></span>
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td id="detail-price">
									                                                {{ app.price }}
									                                            </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td id="detail-buy">
                                                                                    <a href="{{ app.affiliate_url }}"><img src="/media/images/buynow.jpg"></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            <tr id="description-container">
                                                                <td class="unified-content">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td id="description-table">
                                                                                    {{ app.description|truncatewords:200}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="unified-content">
                                                                    <table id="detail-content" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="left-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Maker:</text> 
                                                                                        <a class="from_link" href="{% url artist_applications app.artist_name %}" style="float:right">{{app.artist_name}}</a>
                                                                                   </div>
                                                                                </td>
                                                                                
                                                                                <td class="right-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Price:</text> 
                                                                                        <p class="green-text option-text">
                                                                                            <a id="buy-now-button" href="{{ app.affiliate_url }}" >Buy now!</a> 
                                                                                            <strong>{{ app.price }}</strong>
                                                                                        </p>
                                                                                        
                                                                                   </div>
                                                                                </td>                        
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td class="left-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Last update:</text> 
                                                                                        <text class="option-text" href="#">{{ app.itunes_release_date|timesince }}</text>
                                                                                   </div>
                                                                                </td>
                                                                                
                                                                                <td class="right-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Requirements:</text> 
                                                                                        <p style="float:right">
                                                                                            <a class="from_link" href="{{app.affiliate_url}}">View details</a>
                                                                                        </p>
                                                                                        
                                                                                   </div>
                                                                                </td>                        
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td class="left-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Version:</text> 
                                                                                        <text class="option-text" href="#">{{ app.version }}</text>
                                                                                   </div>
                                                                                </td>
                                                                                
                                                                                <td class="right-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Languages:</text> 
                                                                                        <p style="float:right">
                                                                                            <a class="from_link" href="javascript:void(0);" title="{{ app.get_languages|join:', ' }}">{{ app.get_languages.0 }} +</a>
                                                                                        </p>
                                                                                   </div>
                                                                                </td>                       
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td class="left-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Size:</text> 
                                                                                        <text class="option-text" href="#" style="float:right">{{ app.download_size|filesizeformat }}</text>
                                                                                   </div>
                                                                                </td>
                                                                                
                                                                                <td class="right-metadata">
                                                                                    <div class="metadata-header">
                                                                                        <text style="float:left">Rating:</text> 
                                                                                        <text class="option-text" href="#" style="float:right">{{ app.get_rating }}</text>
                                                                                   </div>
                                                                                </td>                    
                                                                            </tr>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr id="stats-container">
                                                                <td class="unified-content">
                                                                    <table id="stats-content" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="tab_border">
                                                                                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                                                      <tbody><tr>
                                                                                        <td width="138" align="left" valign="middle" class="tabs">
                                                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                                <tbody><tr>
                                                                                                  <td width="25" align="left" valign="top">
                                                                                                    <img src="/app/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="RelatedNewsImgUp" style="display:none;">
                                                                                                    <img src="/app/media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="RelatedNewsImgDown" style="display:;">																</td>
                                                                                                <td align="left" valign="middle">
                                                                                                    <a href="javascript:ViewRelatedNews();" class="tab_links" id="RelatedNewsLink" onclick="ViewRelatedNews()">Related articles</a>																</td>
                                                                                                </tr>
                                                                                            </tbody></table>														</td>
                                                                                        <td width="136" align="left" valign="middle" class="tabs">
                                                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                                <tbody><tr>
                                                                                                  <td width="25" align="left" valign="top">
                                                                                                    <img src="/app/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="TopReadNewsImgUp" style="display:;">
                                                                                                    <img src="./media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="TopReadNewsImgDown" style="display:none;">																</td>
                                                                                                <td align="left" valign="middle">
                                                                                                    <a href="javascript:ViewTopReadNews();" class="tab_links1" id="TopReadNewsLink" onclick="ViewTopReadNews()">Top read news</a>																</td>
                                                                                                </tr>
                                                                                        </tbody></table>
                                                                                        </td>
                                                                                        <td width="2"></td>
                                                                                        <td width="138" align="left" valign="middle" class="tabs">
                                                                                            <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                                <tbody><tr>
                                                                                                  <td width="23" align="left" valign="top">
                                                                                                        <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="RelatedReviewsImgUp" style="display:;">
                                                                                                        <img src="./media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="RelatedReviewsImgDown" style="display:none;">																</td>
                                                                                                <td width="140" align="left" valign="middle">
                                                                                                    <a href="javascript:ViewExclusiveNews();" class="tab_links1" id="ExclusiveNewsLink" onclick="ViewExclusiveNews()">Related reviews</a>																</td>
                                                                                                <td width="10" align="left" valign="middle">&nbsp;</td>
                                                                                                </tr>
                                                                                        </tbody></table>														</td>

                                                                                        <td align="left" valign="middle" class="more_tab" width="80">
                                                                                            <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="25" align="left" valign="top">
                                                                                                            <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0">
                                                                                                        </td>
                                                                                                        <td align="left" valign="middle">
                                                                                                            <a href="#" class="tab_links1" id="MoreRelatedLink" style="display:;">more</a>
                                                                                                            <a href="#" class="tab_links1" id="MoreTopLink" style="display:none;">more</a>
                                                                                                            <a href="#" class="tab_links1" id="MoreExclusiveLink" style="display:none;">more</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>														
                                                                                        </td>
                                                                                        <td width="85" align="left" valign="middle">&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                            
                                                                    <tr id="stats-content-container">
                                                                        <td>
                                                                            <div id="chart1" style="position: relative; height: 300px;overflow:hidden;" ></div>
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    <tr>
                                                                        <td align="left" valign="top">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="left" valign="middle" class="roundgy_lt"></td>
                                                                                        <td align="left" valign="middle" class="roundgy_mid">&nbsp;</td>
                                                                                        <td align="left" valign="middle" class="roundgy_rt"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                            
                                                                    <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td id="td_reviewComment">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td>
                                                                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                            <tbody>
                                                                                                                                                <tr>
                                                                                                                                                    <td align="left" valign="middle" class="greybar_lt">&nbsp;</td>
                                                                                                                                                    <td align="left" valign="middle" class="greybar_mid">
                                                                                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                                            <tbody>
                                                                                                                                                                <tr>
                                                                                                                                                                    <td align="left" width="22">
                                                                                                                                                                        <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0">
                                                                                                                                                                    </td>
                                                                                                                                                                    <td align="left">
                                                                                                                                                                        Comments
                                                                                                                                                                    </td>
                                                                                                                                                                </tr>
                                                                                                                                                            </tbody>
                                                                                                                                                        </table>
                                                                                                                                                    </td>
                                                                                                                                                    <td align="left" valign="middle" class="greybar_rt">&nbsp;</td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>
                                                                                                                                    <td class="content4">
                                                                                                                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                                                                            <tbody>
                                                                                                                                                <tr>
                                                                                                                                                  <td class="event_details_tab2" style="padding-top:5px; " align="center">
                                                                                                                                                    <div id="comment_main">
                                                                                                                                                        <div class="login"><a href="#" class="a1">Login</a> or <a href="#" class="a1">sign up</a> to post a comment</div>
                                                                                                                                                        <div id="comment_box">
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                  </td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>
                                                                                                                                    <td align="left" valign="top">
                                                                                                                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                                                                            <tbody>
                                                                                                                                                <tr>
                                                                                                                                                    <td align="left" valign="middle" class="roundgy_lt"></td>
                                                                                                                                                    <td align="left" valign="middle" class="roundgy_mid">&nbsp;</td>
                                                                                                                                                    <td align="left" valign="middle" class="roundgy_rt"></td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>						
                                                                    </td>
                                                                </tr>                                               
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                            
                                                            

                                                <tr>
                                                    <td align="left" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" valign="middle" class="round_lt"></td>
                                                                        <td align="left" valign="middle" class="round_mid">&nbsp;</td>
                                                                        <td align="left" valign="middle" class="round_rt"></td>
                                                                    </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                                <td width="5" align="left" valign="top">&nbsp;
                                </td>
                                {% with selected=selected_category|default:'' %}
                                	{% sidebar selected %}
                                {% endwith %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top" colspan="3" style="padding-top:7px;"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
