{% extends "base.html" %}
{% block body %}
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td>
                    <table class="rounded-corners" id="apptable" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#131d58">
                        <tbody>
                            <tr>
                                <td id="appdefinition" width="105" valign="middle" align="left" nowrap="nowrap">
                                    <a id="appdirectorylink" href="{% url home %}" class="heading_link">App Directory</a>
                                </td>
                                
                                <td style="padding-right: 15px" width="500" align="right" valign="middle">
                                	{% include "site/currencies.html"%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="6"></td>
            </tr>
            
            {% include "site/menu.html"%}
            
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        	{% if applications %}
	                                                            {% for app in applications %}
	                                                                {% include "site/app.html" %}
	                                                            {% endfor %}
	                                                        {% else %}
	                                                        	<div class="content1">
	                                                        	<br>
	                                                        	<p style="margin-left=5px;margin-right=5px;">There are no applications based on your search.</p>
	                                                        	<br>
	                                                        	</div>
	                                                        {% endif %}
                                                            
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" valign="middle" class="round_lt"></td>
                                                                                    <td align="left" valign="middle" class="round_mid">&nbsp;</td>
                                                                                    <td align="left" valign="middle" class="round_rt"></td>
                                                                                </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr> 
<td align="center" valign="middle" class="result_right">	
    {% include 'site/paginator.html' %}                                            
</tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="5" align="left" valign="top">&nbsp;
                                </td>
                                {% include "site/sidebar.html" %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top" colspan="3" style="padding-top:7px;"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
