<span style="padding:4px 0px 0px 15px;">
    <select name="category" id="category" class="search_box1" style="width:180px">
        <option value="all">All Categories</option>
        <option value="Consultants">Book</option>
        <option value="Deals|Discounts">Business</option>
        <option value="Events">Education</option>
        <option value="Exclusives">Entertainment</option>
        <option value="For__sale">Finance</option>
        <option value="Downloads">Games</option>
        <option value="Jobs">Healthcare & Fitness</option>
        <option value="Members">Lifestyle</option>
        <option value="News">Medical</option>
        <option value="Pictures">Music</option>
        <option value="Reviews">Navigation</option>
        <option value="Services__for__hire">News</option>
        <option value="Software">Photography</option>
        <option value="Support">Productivity</option>
        <option value="User__Groups">Reference</option>
        <option value="Videos">Social Networking</option>
        <option value="Wanted">Sports</option>
        <option value="Wanted">Travel</option>
        <option value="Wanted">Utilities</option>
        <option value="Wanted">Weather</option>
    </select>
</span>