<table id="stats-content" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="tab_border">
                            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                              <tbody><tr>
                                <td width="138" align="left" valign="middle" class="tabs">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td width="25" align="left" valign="top">
                                            <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="screenshots_unselected" style="display:none;">
                                            <img src="/media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="screenshots_selected" >																</td>
                                        <td align="left" valign="middle">
                                            <a href="javascript:set_screenshots();" class="tab_links" id="screenshots_link" >Screenshots</a>																</td>
                                        </tr>
                                    </tbody></table>														</td>
                                <td width="136" align="left" valign="middle" class="tabs">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td width="25" align="left" valign="top">
                                            <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="activity_unselected" style="display:;">
                                            <img src="/media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="activity_selected" style="display:none;">																</td>
                                        <td align="left" valign="middle">
                                            <a href="javascript:set_activity();" class="tab_links1" id="activity_link">App Activity</a>																</td>
                                        </tr>
                                </tbody></table>
                                </td>
                                <td width="2"></td>
                                <td width="138" align="left" valign="middle" class="tabs">
                                    <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td width="23" align="left" valign="middle">
                                                <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="RelatedReviewsImgUp" style="display:;">
                                        <td width="140" align="left" valign="middle">
                                            <a href="{% url artist_applications app.get_artist.id %}" class="tab_links1">More from</a>																</td>
                                        <td width="10" align="left" valign="middle">&nbsp;</td>
                                        </tr>
                                </tbody></table>														</td>

                                <td align="left" valign="middle" class="tabs" width="138">
                                    <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="25" align="left" valign="top">
                                                    <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0">
                                                </td>
                                                <td align="left" valign="middle">
                                                    <a href="{% url top_category_applications app.get_category %}" class="tab_links1" id="MoreRelatedLink" style="display:;">Top Apps</a>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>														
                                </td>
                                <td width="25" align="left" valign="middle">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
                    
            <tr id="stats-content-container">
                <td>
                	<div id="slideshow_container">
		               	<ul id="slideshow" style="text-align: center;">
		               		{% with detail=app.detail %}
		               	
						        {% if detail.screenshot_url_1 %}
						        <li><img src="{{ detail.screenshot_url_1 }}"/></li>
						        {% endif %}
						        {% if detail.screenshot_url_2 %}
						        <li><img src="{{ detail.screenshot_url_2 }}"/></li>
						        {% endif %}
						        {% if detail.screenshot_url_3 %}
						        <li><img src="{{ detail.screenshot_url_3 }}"/></li>
						        {% endif %}
						        {% if detail.screenshot_url_4 %}
						        <li><img src="{{ detail.screenshot_url_4 }}"/></li>
						        {% endif %}
						        
						        {% if detail.ipad_screenshot_url_1 %}
						        <li><img src="{{ detail.ipad_screenshot_url_1 }}"/></li>
						        {% endif %}
						        {% if detail.ipad_screenshot_url_2 %}
						        <li><img src="{{ detail.ipad_screenshot_url_2 }}"/></li>
						        {% endif %}
						        {% if detail.ipad_screenshot_url_3 %}
						        <li><img src="{{ detail.ipad_screenshot_url_3 }}"/></li>
						        {% endif %}
						        {% if detail.ipad_screenshot_url_4 %}
						        <li><img src="{{ detail.ipad_screenshot_url_4 }}"/></li>
						        {% endif %}
					        {% endwith %}
				    	</ul>
                	</div>
                	<div id="chart_options">
                		<ul>
                			<li><a href="javascript:price_chart();">App price</a></li>
                			<li><a href="javascript:version_chart();">Version releases</a></li>
                			<li><a href="javascript:top_chart();">Top 250</a></li>
                		</ul>
                	</div>
                    <div id="chart1" style="width:500px; position: relative; height: 300px;float:right;padding-right: 15px;" ></div>
                </td>
            </tr>
            
            <tr>
                <td align="left" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" valign="middle" class="roundgy_lt"></td>
                                <td align="left" valign="middle" class="roundgy_mid">&nbsp;</td>
                                <td align="left" valign="middle" class="roundgy_rt"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
                    
            <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    {% include 'site/comments.html' %}
                </table>						
            </td>
        </tr>                                               
    </tbody>
</table>