<table id="stats-content" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="tab_border">
                            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                              <tbody><tr>
                                <td width="138" align="left" valign="middle" class="tabs">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td width="25" align="left" valign="top">
                                            <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="RelatedNewsImgUp" style="display:none;">
                                            <img src="/media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="RelatedNewsImgDown" style="display:;">																</td>
                                        <td align="left" valign="middle">
                                            <a href="javascript:void(0);" class="tab_links" >Screenshots</a>																</td>
                                        </tr>
                                    </tbody></table>														</td>
                                <td width="136" align="left" valign="middle" class="tabs">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td width="25" align="left" valign="top">
                                            <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="TopReadNewsImgUp" style="display:;">
                                            <img src="/media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="TopReadNewsImgDown" style="display:none;">																</td>
                                        <td align="left" valign="middle">
                                            <a href="javascript:void(0);" class="tab_links1" id="TopReadNewsLink">App Activity</a>																</td>
                                        </tr>
                                </tbody></table>
                                </td>
                                <td width="2"></td>
                                <td width="138" align="left" valign="middle" class="tabs">
                                    <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                          <td width="23" align="left" valign="middle">
                                                <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0" id="RelatedReviewsImgUp" style="display:;">
                                                <img src="/media/images/round_arr_dwn.gif" alt="Options" width="17" height="17" border="0" id="RelatedReviewsImgDown" style="display:none;">																</td>
                                        <td width="140" align="left" valign="middle">
                                            <a href="{% url artist_applications app.get_artist.id %}" class="tab_links1">More from this developer</a>																</td>
                                        <td width="10" align="left" valign="middle">&nbsp;</td>
                                        </tr>
                                </tbody></table>														</td>

                                <td align="left" valign="middle" class="tabs" width="138">
                                    <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="25" align="left" valign="top">
                                                    <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0">
                                                </td>
                                                <td align="left" valign="middle">
                                                    <a href="{% url top_category_applications app.get_category %}" class="tab_links1" id="MoreRelatedLink" style="display:;">Top Apps</a>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>														
                                </td>
                                <td width="25" align="left" valign="middle">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
                    
            <tr id="stats-content-container">
                <td>
                    <div id="chart1" style="position: relative; height: 300px;overflow:hidden;" ></div>
                </td>
            </tr>
            
            <tr>
                <td align="left" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" valign="middle" class="roundgy_lt"></td>
                                <td align="left" valign="middle" class="roundgy_mid">&nbsp;</td>
                                <td align="left" valign="middle" class="roundgy_rt"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
                    
            <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td id="td_reviewComment">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="middle" class="greybar_lt">&nbsp;</td>
                                                                                            <td align="left" valign="middle" class="greybar_mid">
                                                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" width="22">
                                                                                                                <img src="/media/images/round_arr_up.gif" alt="Options" width="17" height="17" border="0">
                                                                                                            </td>
                                                                                                            <td align="left">
                                                                                                                Comments
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                            <td align="left" valign="middle" class="greybar_rt">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="content4">
                                                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                          <td class="event_details_tab2" style="padding-top:5px; " align="center">
                                                                                            <div id="comment_main">
                                                                                                <div class="login"><a href="#" class="a1">Login</a> or <a href="#" class="a1">sign up</a> to post a comment</div>
                                                                                                <div id="comment_box">
                                                                                                </div>
                                                                                            </div>
                                                                                          </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" valign="top">
                                                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="middle" class="roundgy_lt"></td>
                                                                                            <td align="left" valign="middle" class="roundgy_mid">&nbsp;</td>
                                                                                            <td align="left" valign="middle" class="roundgy_rt"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>						
            </td>
        </tr>                                               
    </tbody>
</table>