<div class="footer">
    <h1>
        <a href="http://www.macdirectory.com/">Home</a> | 
        <a href="http://www.macdirectory.com/component/option,com_service1/task,searchCategory/catName,Consulting%7CSupport/">Consultants</a> | 
        <a href="http://www.macdirectory.com/component/option,com_sale/task,viewAll/">Deals/discounts</a> | 
        <a href="http://www.macdirectory.com/component/option,com_software/task,viewAll/">Downloads</a> | 
        <a href="http://www.macdirectory.com/component/option,com_events/task,viewAll/">Events</a> | 
        <a href="http://www.macdirectory.com/component/option,com_exclusive_news/task,viewAll/">Exclusives</a> | 
        <a href="http://www.macdirectory.com/component/option,com_forum/task,viewAll/">Forums</a> | 
        <a href="http://www.macdirectory.com/component/option,com_jobs/task,viewAll/">Jobs</a> | 
        <a href="http://www.macdirectory.com/component/option,com_search_mem/task,detailPosted/cond,all/">Members</a> | 
        <a href="http://www.macdirectory.com/component/option,com_news/task,viewAll/">News</a> | 
        <a href="http://www.macdirectory.com/component/option,com_reviews/task,viewAll/">Reviews</a> | 
        <a href="http://www.macdirectory.com/component/option,com_service/task,viewAll/">Services for hire</a> | 
        <a href="http://www.macdirectory.com/component/option,com_service1/task,searchCategory/catName,Tech__Support%7CRepairs/">Support</a> | 
        <a href="http://www.macdirectory.com/component/option,com_service1/task,searchCategory/catName,User__Groups/">User groups</a> | 
        <a href="http://www.macdirectory.com/component/option,com_mdspace/task,home/">Video/pics</a>
    </h1>
    <h1>
        <a href="http://www.macdirectory.com/component/option,com_about/task,AboutUs/">About us </a> | 
        <a href="http://www.macdirectory.com/component/option,com_magazine/task,Advertising/magazine_id,24/">Advertise</a> | 
        <a href="http://www.macdirectory.com/component/option,com_warnings/task,readWarnings/">Avoid fraud </a> | 
        <a href="http://www.macdirectory.com/component/option,com_contact/task,sendMail/">Contact us </a> | 
        <a href="http://www.macdirectory.com/component/option,com_warnings/task,Help/">Help</a> | 
        <a href="http://www.macdirectory.com/component/option,com_magazine/task,viewDetail/magazine_id,24/">Magazine</a> | 
        <a href="http://www.macdirectory.com/component/option,com_media/task,Media/">Media/Link to us </a> | 
        <a href="http://www.macdirectory.com/component/option,com_warnings/task,readWarnings/">Personal safety tips </a> | 
        <a href="http://www.macdirectory.com/component/option,com_privacy_policy/task,readPrivacy/">Privacy policy </a> | 
        <a href="http://www.macdirectory.com/component/option,com_classifieds/task,step1/">Post/edit content </a> | <a href="http://www.macdirectory.com/component/option,com_register/task,newUser/">Register </a> | 
        <a href="http://www.macdirectory.com/component/option,com_sitemap/task,Sitemap/">Site map </a> | 
        <a href="http://www.macdirectory.com/component/option,com_tos/task,readTos/">TOS</a>
    </h1>
    <h2>MacDirectory is the only website for Apple Macintosh free classified postings including jobs, products for sale, services for hire, software downloads, news, reviews, interviews, support, video postings, games, iPhone, iPod resources and much more. Apple, Macintosh, iPhone, iPod are trademarks of Apple, Inc. MacDirectory is not affiliated with Apple, Inc.<br>
    <br>© 2011 American Computer &amp; Tech Corp.
    </h2>
</div>