<div id="menue">
    <ul>
         <li>
         	<a href="http://www.macdirectory.com/" id="HomeLink">HOME</a>
         </li>
         <li>
         	<a href="http://www.macdirectory.com/component/option,com_news/task,viewAll/" rel="news_menu" id="NewsLink">NEWS</a>
         </li>
         <li>
         	<a href="#" rel="browse_menu" id="BrowseLink">CLASSIFIEDS</a>
         </li>
         <li>
         	<a href="http://macdirectory.pgpartner.com/home_comp.php" rel="deals_menu" id="DealsLink">DEALS</a>
         </li>
         <li>
         	<a href="http://www.macdirectory.com/component/option,com_software/task,viewAll/" rel="software_menu" id="DownloadLink">DOWNLOADS</a>
         </li>
         <li>
         	<a href="http://www.macdirectory.com/component/option,com_forum/task,viewAll/" rel="forum_menu" id="ForumLink">FORUMS</a>
         </li>
         <li>
         	<a href="#" rel="mdspace_menu" id="MdSpaceLink">MD SPACE</a>
         </li>
         <li>
         	<a href="http://www.macdirectory.com/component/option,com_reviews/task,viewAll/" rel="reviews_menu" id="ReviewsLink">REVIEWS</a>
         </li>
         <li>
         	<a href="http://macdirectory.pgpartner.com/home_comp.php" target="_blank">STORE</a>
         </li>
         <li>
         	<a href="http://www.macdirectory.com/component/option,com_magazine/task,viewDetail/magazine_id,24/" rel="magazine_menu" id="MagazineLink">MAGAZINE</a>
         </li>
         <li>
         	<a href="#" rel="myaccount_menu" id="MyAccountLink">MY ACCOUNT</a>
         </li>
         <li>
         	<a href="#" rel="post_menu" id="PostLink" class="post-right-border">POST</a>
         </li>
    </ul>
</div>
