<tr>
    <td>
        <table id="options-table">
            <tbody>
                <tr>
                    <td></td>
                    <td id="search-categories" class="font11"> 
                            <span class="header-option"></span>

                                <a href="{% url device 'ios' %}" {% if device == 'ios' %}class="selected-option"{% endif %}
                                title="Latest apps for iPhone, iPad, iPod">iOS</a>
   
                            <span class="option-separator"> | </span>

                                <a href="{% url device 'mac' %}" class="last-option{% if device == 'mac' %} selected-option{% endif %}"
                                title="Latest apps for MacBook Air, MacBook Pro, Mac mini, iMac, Mac Pro">Mac</a>
                            
                            {% if device != 'mac' %}
	                            <span class="header-option">Type:</span>
	
	                                <a href="{% url device 'all' %}" {% if device == 'all' %}class="selected-option"{% endif %}
	                                title="Apps for all devices"> All</a> 
	
	                            <span class="option-separator"> | </span> 
	                            
	                                <a href="{% url device 'iphone' %}" {% if device == 'iphone' %}class="selected-option"{% endif %}
	                                title="Apps for iPhone">iPhone</a>  
	
	                            <span class="option-separator"> | </span> 
	
	                                <a href="{% url device 'ipad' %}" {% if device == 'ipad' %}class="selected-option"{% endif %}
	                                title="Apps for iPad">iPad</a> 
	                            
	                            <span class="option-separator"> | </span>
	
	                                <a href="{% url device 'ipod' %}" class="last-option{% if device == 'ipod' %} selected-option{% endif %}"
	                                title="Apps for iPod">iPod</a>
                            {% endif %}
                        
                            <a href="{% url top_apps %}" {% if filter == 'top100' %}class="selected-option"{% endif %}
                            title="Top 100 selling apps">Top 100</a><span class="option-separator"> |</span>
                            
                            
                            <a href="" class="app-link" title="Top rated apps">Rating</a> <span class="option-separator"> | </span>
                            
                            <a href="{% url paid_apps %}" {% if filter == 'paid' %}class="selected-option"{% endif %}
                            title="Paid apps">Paid</a> <span class="option-separator"> | </span>
                            
                            <a class="last-option{% if filter == 'free' %} selected-option{% endif %}" href="{% url free_apps %}" 
                            title="Free apps">Free</a>                                       
                        
                            <span class="header-option">View:</span>
                            <a href="{% url update_apps %}" {% if filter == 'updated' %}class="selected-option"{% endif %}
                            title="Latest app updates">Updates</a> <span class="option-separator"> | </span>
                            <a href="{% url new_apps %}" {% if filter == 'new' %}class="selected-option"{% endif %}
                            title="Just released apps">New Apps</a> <span class="option-separator"> | </span> 
                            <a class="app-link last-option" href="" title="Discounted apps">Price Drops</a>
                        
                            <span class="header-option"></span>
                            <a href="http://www.macdirectory.com/component/option,com_news/task,viewAll/" class="app-link">News</a> <span class="option-separator"> | </span>
                            <a href="http://www.macdirectory.com/component/option,com_reviews1/task,search/review_keyword,app/category,all/only_title,/" class="app-link last-option">Reviews</a>
                    </td>
                    <td></td>
                    <td class="result_right" align="right">
                    	{% include 'site/paginator.html' %}
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
