<tr>
    <td>
        <table id="options-table">
            <tbody>
                <tr>
                    <td></td>
                    <td id="search-categories" class="font11"> 
                            <span class="header-option"></span>

                            {% if area == "ios" or area == "ipod" or area == "ipad" or area == "iphone"%} 
                                <a href="/app/app/ios" class="selected-menu-option">iOS</a>
                            {% else %}
                                <a href="/app/app/ios" class="app-link selected-option">iOS</a>
                            {% endif %}
   
                            <span class="option-separator"> | </span>

                            {% ifequal area "mac"%}                            
                                <a href="app/mac" class="selected-menu-option">Mac</a>
                            {% else %}
                                <a href="/app/mac" class="app-link last-option">Mac</a>
                            {% endifequal %}
                            
                            <span class="header-option">Type:</span>

                            {% if area == "ios" or area == "mac"%}                                                      
                                <a href="/app/" class="selected-menu-option"> All</a> 
                            {% else %}
                                <a href="/app/" class="app-link selected-option"> All</a> 
                            {% endif %}

                            <span class="option-separator"> | </span> 
                            
                            {% ifequal area "iphone"%}   
                                <a href="/app/ios/iphone" class="selected-menu-option">iPhone</a>  
                            {% else %}
                                <a href="/app/ios/iphone" class="app-link">iPhone</a>
                            {% endifequal %}

                            <span class="option-separator"> | </span> 

                            {% ifequal area "ipad"%} 
                                <a href="/app/ios/ipad" class="selected-menu-option">iPad</a> 
                            {% else %}
                                <a href="/app/ios/ipad" class="app-link">iPad</a> 
                            {% endifequal %}
                            
                            <span class="option-separator"> | </span>

                            {% ifequal area "ipod"%}                   
                                <a href="/app/ios/ipod" class="selected-menu-option last-option">iPod</a>  
                            {% else %}
                                <a href="/app/ios/ipod" class="app-link last-option">iPod</a> 
                            {% endifequal %}      
                        
                            <a href="" class="app-link">Top 100</a><span class="option-separator"> |</span>
                            <a href="" class="app-link">Rating</a> <span class="option-separator"> | </span>
                            <a href="" class="app-link">Paid</a> <span class="option-separator"> | </span>
                            <a class="app-link last-option" href="">Free</a>                                       
                        
                            <span class="header-option">View:</span>
                            <a class="app-link" href="">Updates</a> <span class="option-separator"> | </span>
                            <a class="app-link" href="">New Apps</a> <span class="option-separator"> | </span> 
                            <a class="app-link last-option" href="">Price Drops</a>
                        
                            <span class="header-option"></span>
                            <a href="" class="app-link">News</a> <span class="option-separator"> | </span>
                            <a href="" class="app-link last-option">Reviews</a>
                    </td>
                    <td></td>
                    <td class="result_right" align="right">
                    	{% for p,selected in page_info.items %}
                    		{% if selected %}
                    			<span id="paginator-selected-page">[{{ p }}]</span>
                    		{% else %}
                    			<a href="?page={{p}}" title="Page {{ p }}" class="from_link">{{ p }}</a> 
                    		{% endif %}
                    	{% endfor %}
                        <a href="?page={{last_page}}" title="Page {{last_page}}" class="from_link"><strong>></strong></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
