{% load tags %}

<td id="browse-bar" width="275" align="left" valign="top">
                                    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="content2">
                                                    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" class="greybg_light rounded-corners" height="40">
                                                                    <table id="browse-container" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="browse-header">
                                                                                    Search our App Directory
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td>
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td height="20px">
                                                                                <form action="{% url search %}" method="get">
                                                                                    <span id="search-area">
                                                                                        <input id="search-text-box" class="inputtextbox" type="text" name="keyword" value="Type Keywords">
                                                                                        <img id="search-image" src="/media/images/search.jpg" alt="Search"/>
                                                                                    </span>
                                                                                </form>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td>
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <div class="category-link">
                                                                                        <a href="javascript:void(0);"><text style="float:left">Apps Available:</text> <text style="float:right">{{ app_count }}</text></a>
                                                                                   </div>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <div class="category-link">
                                                                                        <a href="javascript:void(0);"><text style="float:left">Total iPhone Apps:</text> <text style="float:right">{{ iphone_count }}</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>                                                                               
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="category-link">
                                                                                        <a href="javascript:void(0);"><text style="float:left">Total iPad Apps:</text> <text style="float:right">{{ ipad_count }}</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           
                                                                           <tr>
                                                                                <td class="browse-header search-by-category" >
                                                                                    Search by category
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            {% for category in categories %}
                                                                            <tr>
                                                                                <td class="category-link {% if category.0 == selected %}selected{% endif %}" align="left">
                                                                                        <a href="{% url category_applications category.0 %}"><text style="float:left">{{ category.0 }}:</text> <text style="float:right">{{ category.1 }}</text></a>
                                                                                </td>
                                                                           	</tr>
                                                                            {% endfor %}
                                                                            
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td> 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </tr>
                                            <tr>
                                                <td id="in-app-purchases" class="content3">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <span class="in-app-header">Popular apps:</span>
                                                                <br><br>
                                                            </tr>
                                                            
                                                            {% for app in top_apps %}
	                                                            <tr class="in-app-ranking-element">
	                                                                <span class="in-app-element"><a href="{% url app_detail_slug app.application_id app.title|slugify %}">{{ app.title }}</a></span>
	                                                                <br>
	                                                            </tr>
                                                        	{% endfor %}
                                                            
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                            
                                            <tr>
                                                <td valign="top" align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" align="left" class="round_lt"></td>
                                                                <td valign="middle" align="left" class="round_mid">&nbsp;</td>
                                                                <td valign="middle" align="left" class="round_rt"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>