<td id="browse-bar" width="275" align="left" valign="top">
                                    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="content2">
                                                    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" class="greybg_light rounded-corners" height="40">
                                                                    <table id="browse-container" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="browse-header">
                                                                                    Search our App Directory
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td>
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td height="20px">
                                                                                <form action="{% url search %}" method="get">
                                                                                    <span id="search-area">
                                                                                        <input id="search-text-box" class="inputtextbox" type="text" name="keyword" value="Type Keywords">
                                                                                        <img id="search-image" src="/media/images/search.jpg" alt="Search"/>
                                                                                    </span>
                                                                                </form>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td>
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Apps Available:</text> <text style="float:right">33232</text></a>
                                                                                   </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Apps Approved:</text> <text style="float:right">41232</text></a>
                                                                                   </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Total iPhone Apps:</text> <text style="float:right">13123</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>                                                                               
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Total iPad Apps:</text> <text style="float:right">11243</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           
                                                                           <tr>
                                                                                <td class="browse-header search-by-category" >
                                                                                    Search by category
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Books:</text> <text style="float:right">23232</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Business:</text> <text style="float:right">1232</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Education:</text> <text style="float:right">13123</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Entertainment:</text> <text style="float:right">121243</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Finance:</text> <text style="float:right">34353</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Healthcare & Fitness:</text> <text style="float:right">34345</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Lifestyle:</text> <text style="float:right">8643</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Medical:</text> <text style="float:right">43423</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Music:</text> <text style="float:right">54343</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Navigation:</text> <text style="float:right">2323</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">News:</text> <text style="float:right">1346</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Photography:</text> <text style="float:right">3432</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Productivity:</text> <text style="float:right">2368</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Reference:</text> <text style="float:right">5633</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Social Networking:</text> <text style="float:right">5456</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Sports:</text> <text style="float:right">45667</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Travel:</text> <text style="float:right">3432</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td align="left">
                                                                                   <div class="silverheader">
                                                                                        <a href="http://www.macdirectory.com/#"><text style="float:left">Utilities:</text> <text style="float:right">34467</text></a>
                                                                                   </div>
                                                                                </td>
                                                                           </tr>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td> 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </tr>
                                            <tr>
                                                <td id="in-app-purchases" class="content3">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <span class="in-app-header">Top In-App Purchases:</span>
                                                                <br><br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                                <span class="in-app-element">1 Dog Tag Pack 1 </span>
                                                                <span class="in-app-element-price">$1.99</span>
                                                                <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">2 Medal Pack 1</span>
                                                               <span class="in-app-element-price">$1.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">3 Dog Tack Pack 2 </span>
                                                               <span class="in-app-element-price">$4.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">4 Medal Pack 2</span>
                                                               <span class="in-app-element-price">$4.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">5 Medal Pack 3</span>
                                                               <span class="in-app-element-price">$9.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">6 Dog Tack Pack 3</span>
                                                               <span class="in-app-element-price">$9.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">7 Medal Pack 4</span>
                                                               <span class="in-app-element-price">$19.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                                <span class="in-app-element">8 Medal Pack 6</span>
                                                                <span class="in-app-element-price">$99.99</span>
                                                                <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">9 Medal Pack 5</span>
                                                               <span class="in-app-element-price">$49.99</span>
                                                               <br>
                                                            </tr>
                                                            <tr class="in-app-ranking-element">
                                                               <span class="in-app-element">10 Dog Tack Pack 4</span>
                                                               <span class="in-app-element-price">$19.99</span>
                                                               <br>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                            
                                            <tr>
                                                <td valign="top" align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" align="left" class="round_lt"></td>
                                                                <td valign="middle" align="left" class="round_mid">&nbsp;</td>
                                                                <td valign="middle" align="left" class="round_rt"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>